<form role="form" method="post" action="/books/create">
  <div class="form-group">
    <label for="book">Book</label>
    <input type="text" name="book[title]" value=""/>
    <input type="text" name="book[author]" value=""/>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
